<!DOCTYPE html>
<html lang="en">

<%- include('partials/navBar') %>

  <body>

    <h1>Create a Poll</h1>
    <form action="/api/polls/create-poll" method="POST" style="width: 60%">

      <div class="row">
        <div class="col-sm-6">
          <label for="title"><b>Title:</b></label>
          <input type="text" id="title" name="title" class="form-control" placeholder="Enter title of poll" required>

          <label for="email"><b>Email:</b></label>
          <input type="text" id="email" name="email" class="form-control"
            placeholder="Enter email address you want pool link sent to" required>

          <label for="question"><b>Question:</b></label>
          <textarea type="text" id="question" name="question" class="form-control" placeholder="Enter question"
            required></textarea>
          <br>
          <div>
            <label for="options"><b>Create Options: </b></label>
            <button id="addOpt" class="btn btn-success">+</button>
          </div><br>
          <button type="submit" class="btn btn-success">Create Poll</button>
          <br>
          <b>
            <%= successMsg %>
          </b>
        </div>
        <div class="col-sm-6">
          <div id="optionsContainer">
          </div>
        </div>
    </form>

    <script>
      $(document).ready(function() {
        let optionNo = 0;

        const setOptionBox = () => {
          const optionAppend = $(`
        <div class="option-box">
          <label for="option-${optionNo}"><b>Option ${optionNo + 1}:</b></label>
          <div class="row">
            <div class="col-sm-8">
          <input type="text" class="form-control" id="option-${optionNo}" name="options[]" placeholder="Enter option ${optionNo + 1} here" required>
        </div>
            <div class="col-sm-4">
          <button class="removeBtn btn btn-danger">-</button>
          </div>
        </div>
        </div>
      `);
          $('#optionsContainer').append(optionAppend);
          optionNo++;
        };

        $('#addOpt').on('click', setOptionBox);

        $('#optionsContainer').on('click', '.removeBtn', function() {
          $(this).parent().remove();
        });
      });
    </script>

  </body>

</html>