<!DOCTYPE html>
<html lang="en">

<head>
  <title>Users</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
</head>
</head>

<body>
  <h1>Poll Results</h1>
  <h2><%= pollTitle %></h2>
  <p><%= pollQuestion %></p>
  <ul>
    <% for (let i = 0; i < pollChoices.length; i++) { %>
      <li><%= pollChoices[i].polls_options %> - <%= pollChoices[i].votes %> Votes</li>
    <% } %>
  </ul>
</body>

</html> -->
