<!DOCTYPE html>
<html lang="en">

<%- include('partials/navBar') %>

  <body>
    <br>
    <h1>voting</h1>
    <form action="/api/polls/voting" method="POST" style="width: 50%">

      <div class="row">
        <div class="col-sm-12">
          <label for="title"><b>Title:</b></label>
          <input type="text" id="title" name="title" class="form-control" placeholder="Weekend plan" disabled> <br>

          <label for="question"><b>Question:</b></label>
          <textarea type="text" id="question" name="question" class="form-control"
            placeholder="What is planning for weekend?" disabled></textarea>
          <br>

          <label><b>Select your answer:</b></label> <br>
          <div class="col-sm-6">
            <div id="radioButtonContainer">
            </div>
          </div>

          <br>
          <button type="submit" class="btn btn-success">Submit Answer</button>
          <br>
        </div>
    </form>

    <script>
      $(document).ready(function() {

        let options = ["Movie", "Dinner", "Match", "Game"];

        for (option of options) {
          const optionAppend = $(`
          <input type="radio" id="`+ option + `" name="answer" value="` + option + `">
          <label for="`+ option + `">` + option + `</label> <br>
        `);

          $('#radioButtonContainer').append(optionAppend);
        }

      });
    </script>
  </body>

</html>